<div style="padding: 16px 20px 10px 20px;">
    <mat-card>
        <mat-card-content style="padding: 0;">
            <ng-container *ngIf="(loading$ | async)">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ng-container>

            <ng-template #showResults>
                <pre style="padding: 20px;">{{ result }}</pre>
            </ng-template>

            <ng-template #connectToDB>
                <div style="padding: 20px;">
                    Please connect to a database source in order to access this page.
                </div>
            </ng-template>

            <ng-container *ngIf="db.isConnected(); then showResults; else connectToDB"></ng-container>
        </mat-card-content>
    </mat-card>
</div>
