<div style="padding: 16px 20px 10px 20px;">
    <mat-card>
        <mat-card-content style="padding: 0px;">
            <ng-container *ngIf="(loading$ | async)">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ng-container>

            <ng-template #showResults>
                <table mat-table [dataSource]="dataSource"
                       style="width: 100%;"
                       *ngIf="dataSource.data.length > 0">
                    <ng-container *ngFor="let column of displayedColumns" [cdkColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef>{{ column|titlecase }}</th>
                        <td mat-cell *matCellDef="let record">{{ record[column] }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <ng-container *ngIf="dataSource.data.length === 0 && !(loading$ | async)">
                    <div style="padding: 20px;">
                        No results found.
                    </div>
                </ng-container>

                <ng-container *ngIf="dataSource.data.length === 0 && (loading$ | async)">
                    <div style="padding: 20px;">
                        Waiting for database response...
                    </div>
                </ng-container>
            </ng-template>

            <ng-template #connectToDB>
                <div style="padding: 20px;">
                    Please connect to a database source in order to access this page.
                </div>
            </ng-template>

            <ng-container *ngIf="db.isConnected(); then showResults; else connectToDB"></ng-container>
        </mat-card-content>
    </mat-card>
</div>
